*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #6f4e37;
    opacity: 0.95;
    color: #fff;
}
::selection{
    color: #fff;
    background: #7a7aff;
}
.add-line-box{
    position: absolute;
    padding: 20px 20px 10px 20px;
    width: 500px;
    left: calc(50% - 250px);
    bottom: 50%;
    background: #fff;
    color: #6f4e37;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.add-line-box .add-line-head .close-icon{
    position: absolute;
    color: #6f4e37;
    top: 10px;
    right: 15px;
}
.add-line-box .add-line-head .close-icon:hover{
    transform: scale(0.97);
    color: #7a7aff;
    cursor: pointer;
}
.add-line-box .add-line-main{
    font-weight: 600;
    padding-top: 20px;
    text-align: right;
    margin-right: 10px;
}
.add-line-box .add-line-main input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.add-line-box .add-line-bottom{
    position: relative;
    display: flex;
}
.add-line-box .add-line-bottom button{
    transform: translateX(calc(230px - 50%));
    background-color: #6f4a37;
    border: none;
    color: #fff;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}