*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    opacity: 0.95;
    color: #fff;
}
::selection{
    color: #fff;
    background: #7a7aff;
}
.add-icon{
     position: fixed;
     background: #f2f2f2;
     height: 40px;
     width: 40px;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
     color: #000;
     font-size: 25px;
     bottom: 7%;
     right: 7%;
}
.add-icon:hover{
    transform: scale(0.97);
    color: #7a7aff;
    cursor: pointer;
}