*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #6f4e37;
    color: #fff;
}
::selection{
    color: #fff;
    background: #7a7aff;
}
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: #fff;
}
.header:hover{
    animation-name: rainbow;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes rainbow{
    0%{background: linear-gradient(to left, #ff7979 0%, #ffbd7a 20%, #ffff7a 40%, #7aff7a 60%, #7abdff 80%, #bd7aff 100%);}
    20%{background: linear-gradient(to left, #ffbd7a 0%, #ffff7a 20%, #7aff7a 40%, #7abdff 60%, #bd7aff 80%, #ff7979 100%);}
    40%{background: linear-gradient(to left, #ffff7a 0%, #7aff7a 20%, #7abdff 40%, #bd7aff 60%, #ff7979 80%, #ffbd7a 100%);}
    60%{background: linear-gradient(to left, #7aff7a 0%, #7abdff 20%, #bd7aff 40%, #ff7979 60%, #ffbd7a 80%, #ffff7a 100%);}
    80%{background: linear-gradient(to left, #7abdff 0%, #bd7aff 20%, #ff7979 40%, #ffbd7a 60%, #ffff7a 80%, #7aff7a 100%);}
    100%{background: linear-gradient(to left, #bd7aff 0%, #ff7979 20%, #ffbd7a 40%, #ffff7a 60%, #7aff7a 80%, #7abdff 100%);}
}
.header .tool-bar{
    position: absolute;
    bottom: 0px;
    left: 5%;
    right: 5%;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    background-color: #6f4e37;
    font-size: 25px;
}
.header .tool-bar a:hover{
     transform: scale(0.97);
     cursor: pointer;
 }
.header .tool-bar .home-icon{
    position: absolute;
    color: #fff;
    top: 5px;
    left: 1%;
}
.header .tool-bar .sync-icon i{
    height: 34px;
    width: 100%;
}
.header .tool-bar .sync-icon{
    position: absolute;
    color: #fff;
    top: 5px;
    left: 15%;
}
.header .tool-bar .sync-icon:hover .form-option {
  display: block;
}
.header .tool-bar .form-option{
    display: none;
    position: absolute;
    top: 40px;
    left: 15%;
    width: 150px;
    height: 80px;
    background: #fff;
    opacity: 0.95;
}
.header .tool-bar .form-option a{
    position: relative;
    font-size: 15px;
    color: #6f4e37;
}
.header .tool-bar .form-option p{
    padding: 0 0 0 15px;
}
.header .tool-bar .form-option .form-2,
.header .tool-bar .form-option .form-3,
.header .tool-bar .form-option .form-4{
    width: 100%;
    height: 20px;
}
.header .tool-bar .form-option .form-2:hover,
.header .tool-bar .form-option .form-3:hover,
.header .tool-bar .form-option .form-4:hover{
    background: #7a7aff;
    cursor: pointer;
}
.header .tool-bar .form-option .form-1{
    width: 100%;
    height: 20px;
    background: #f2f2f2;
    opacity: 0.95;
}
.header .tool-bar .form-option .form-1:hover{
    cursor: context-menu;
}
.header .tool-bar .search-icon{
    position: absolute;
    color: #fff;
    top: 5px;
    left: 77%;
}
.wrapper{
    position: absolute;
    top: 80px;
    width: 100%;
}
.wrapper .table{
    width: 100%;
    padding: 50px 10% 0 10%;
}
table, th, td {
  border: 10px white;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
#table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#table td:nth-child(2){
    text-align: left;
}
#table tr{
    color: #6f4a37;
}
#table tr:nth-child(even){background-color: #fff;}

#table tr:nth-child(odd){background-color: #f2f2f2;}

#table td:hover {background-color: #ddd;}
#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #7a7aff;
  color: white;
}
.nothing {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 30px;
    top: 35%;
    color: #fff;
}
.nothing-2 {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 70%;
    right: 5%;
    color: #fff;
}
.nothing-3 {
    position: fixed;
    width: 100%;
    font-size: 45px;
    top: 108%;
    right: 1%;
    color: #fff;
    transform: rotate(164deg);
}
.add-icon{
     position: fixed;
     background: #f2f2f2;
     height: 40px;
     width: 40px;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
     color: #6f4e37;
     font-size: 25px;
     bottom: 7%;
     right: 7%;
}
.add-icon:hover{
    transform: scale(0.97);
    color: #7a7aff;
    cursor: pointer;
}